/*
##############################
BioBrick Modeller/Simulator

					Groep 5/E
##############################
*/

/*
------------------------------
	Variable declaration
------------------------------
*/

/* SlateGrey */

@baseColor: #708090;

/* 1: Bright content on dark background, 0: Dark content on bright background */

@contrast: 1;

/* Determinds how much the text is blended in with the background. 0: none, 1: completely */

@textFade: 0.2;

/* Black/white mixer */

@color: fadecolor((0.5+0.5*@contrast)*#FFF + (0.5-0.5*@contrast)*#000);

/* Alternative base color derivative: lighten(desaturate(@baseColor, 30%), @contrast * 35%); */

@fadedColor: fadeout(#FFF, @textFade * 100);

/* Ensure this is consistent with the dimensions of the used icon image (found in '..\img\icon-*') */

@iconSize: 24px;

/* Icon size multiplier to derive menu bar height */

@menuHeight: 1.75;

@grStart: darken(@baseColor, @contrast * 10%);

@grStop: darken(@baseColor, @contrast * 20%);

@asideWidth: 250px;

@statusHeight: 24px; /* Height of the status bar */

/*
------------------------------
	Mixin declaration
------------------------------
*/
.structureBorder(@baseColor, @contrast) {
	border: 1px solid darken(saturate(@baseColor, 5%), @contrast * 25%);
}

/*
------------------------------
	Styles
------------------------------
*/
body {
	background-color: @baseColor;
}

.navbar {
	.structureBorder(@baseColor, @contrast);
	border-width: 0 0 1px 0; /* Bottom border only */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	height: @iconSize * @menuHeight;
	min-width: 896px;
	width: 100%;
	position: relative;
	z-index: 100;
}

.navbar, .status, .summary {
	background: -moz-linear-gradient(center top , @grStart, @grStop) repeat scroll 0 0 @grStop;
	background: linear-gradient(center top , @grStart, @grStop) repeat scroll 0 0 @grStop;
	background: -o-linear-gradient(center top , @grStart, @grStop) repeat scroll 0 0 @grStop;
	background: -moz-linear-gradient(center top , @grStart, @grStop) repeat scroll 0 0 @grStop;
	background: -webkit-linear-gradient(center top , @grStart, @grStop) repeat scroll 0 0 @grStop;
	background: -ms-linear-gradient(center top , @grStart, @grStop) repeat scroll 0 0 @grStop;
}

.nav {
	color: @fadedColor;
	font-size: @iconSize * 0.7;
	font-weight: bold;
}

#title {
	.structureBorder(@baseColor, @contrast);
	border-width: 0 1px 0 0; /* Right border only */
	background-color: rgba(0,0,0, 0.1); /* Fade */
	float: left;
	padding: (@iconSize * 0.5) 0 (@iconSize * 0.5) (@iconSize * 0.5)*2 + @iconSize;
	width: @asideWidth;
}

#icon {
	background: url("../img/icon-small-24px.png") no-repeat;
	position: absolute;
	height: @iconSize;
	width: @iconSize;
	left: (@iconSize * 0.5 * @menuHeight) - (@iconSize * 0.5);
	top: (@iconSize * 0.5 * @menuHeight) - (@iconSize * 0.5);
	opacity: 1 - @textFade;
}

#gates {
	background-color: @grStart;
	.structureBorder(@baseColor, @contrast);
	border-width: 0 1px 0 0; /* Right border only */
	width: @asideWidth + (@iconSize * 0.5)*2 + @iconSize;
	z-index: 60;
	margin-top: @iconSize * @menuHeight;
	padding-top: 10px;
}
#gates .gate{
	margin: 10px 30px;
}

.stretch {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
}

.status {
	background-color: @grStart;
	.structureBorder(@baseColor, @contrast);
	border-width: 1px 0 0 0; /* Top border only */
	bottom: 0;
	height: 24px;
	left: 0;
	line-height: 24px;
	position: absolute;
	width: 100%;
	z-index: 17;
}
