/**
 * BioBrick Modeller/Simulator
 * ==================================
 *
 *
 *							Groep 5/E
 * ==================================
 */

/** Section:
 * -----------------------------------
 * Variable declaration
 * -----------------------------------
 */

/* SlateGrey */

@baseColor: #708090;

/* 1: Bright content on dark background, -1: Dark content on bright background */

@contrast: 1;

/* Page wide text base color */

@textColor: #FFF;

/* Determinds how much the text is blended in with the background. 0: none, 1: completely */

@textFade: 0.2;

/* Alternative base color derivative: lighten(desaturate(@baseColor, 30%), @contrast * 35%); */

@textColorFaded: fadeout(@textColor, @textFade * 100);

/* Ensure this is consistent with the dimensions of the used icon image (found in '..\img\icon-*') */

@iconSize: 24px;

/* Icon size multiplier to derive menu bar height */

@menuHeight: 1.75;

@grStart: darken(@baseColor, @contrast * 10%);

@grStop: darken(@baseColor, @contrast * 20%);

@asideWidth: 250px;

@statusHeight: 24px; /* Height of the status bar */

@cornerRadius: 5px;

@gatesTabPadding: 10px;

@borderHeight: 25%;

/** Section:
 * -----------------------------------
 * Mixin declaration
 * -----------------------------------
 */
.borderDown(@baseColor, @contrast, @borderHeight) {
	border: 1px solid darken(saturate(@baseColor, 5%), @contrast * @borderHeight);
}

.borderUp(@baseColor, @contrast, @borderHeight) {
	border: 1px solid lighten(saturate(@baseColor, 5%), @contrast * @borderHeight);
}

.cornerRadius(@cornerRadius) {
	  -webkit-border-radius: @cornerRadius; /* Saf 3-4, iOS 1-3.2, Android ≤1.6 */
		 -moz-border-radius: @cornerRadius; /* FF 1-3.6 */
			  border-radius: @cornerRadius;
}

/** Section:
 * -----------------------------------
 * Bootstrap.css overriding
 * -----------------------------------
 */
body {
	background-color: @baseColor;
}

.navbar {
	.borderDown(@baseColor, @contrast, @borderHeight);
	border-width: 0 0 1px 0; /* Bottom border only */
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
	height: @iconSize * @menuHeight;
	min-width: 896px;
	width: 100%;
	position: relative;
	z-index: 100;
}

.navbar, .status, .summary {
	background-color: @grStop;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@grStart), to(@grStop)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, @grStart, @grStop); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, @grStart, @grStop); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, @grStart, @grStop); /* IE10 */
	background-image:      -o-linear-gradient(top, @grStart, @grStop); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, @grStart, @grStop);
}

.nav {
	color: @textColorFaded;
	font-size: @iconSize * 0.7;
	font-weight: bold;
}

.navbar .nav > li > a {
	color: lighten(@baseColor, 20%);
}
.navbar .nav > li > a:hover {
	color: @textColorFaded;
}
.dropdown .caret {
    margin-left: 5px;
    margin-top: 10px;
}
.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret {
    border-bottom-color: @textColorFaded;
    border-top-color: @textColorFaded;
}
.caret {
	opacity: 0.6;
}
.dropdown-menu a {
	font-size: 13px;
}

/*
------------------------------
	Application styles
------------------------------
*/
#title {
	.borderDown(@baseColor, @contrast, @borderHeight);
	border-width: 0 1px 0 0; /* Right border only */
	background-color: rgba(0,0,0, 0.1); /* Fade */
	float: left;
	padding: (@iconSize * 0.5) 0 (@iconSize * 0.5) (@iconSize * 0.5)*2 + @iconSize;
	width: @asideWidth;
}

#icon {
	background: url("../img/icon-small-24px.png") no-repeat;
	position: absolute;
	height: @iconSize;
	width: @iconSize;
	left: (@iconSize * 0.5 * @menuHeight) - (@iconSize * 0.5);
	top: (@iconSize * 0.5 * @menuHeight) - (@iconSize * 0.5);
	opacity: 1 - @textFade;
}

#gates-tab {
    background-color: @grStart;
	.borderDown(@baseColor, @contrast, @borderHeight);
	border-width: 0 1px 0 0; /* Right border only */
    width: @asideWidth + (@iconSize * 0.5)*2 + @iconSize;
	bottom: @statusHeight + 1; /* Keep some distance for the status bar (+1 pixel for the border) */
	margin-top: @iconSize * 1.75;
	color: @textColorFaded;
    z-index: 60;
	overflow: auto;
}

#gates-tab h3 {
	margin-left: @gatesTabPadding;
	margin-top: @gatesTabPadding;
}

#gates-tab p {
	margin-left: @gatesTabPadding;
	line-height: 10px;
}

.gates {
	.borderDown(@baseColor, @contrast, @borderHeight);
	.cornerRadius(@cornerRadius);
	box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.25);
	background-color: @baseColor;
	margin: @gatesTabPadding;
	padding: @gatesTabPadding;
}

.gate {
	.cornerRadius(@cornerRadius);
	text-align: right;
	padding: 5px;
}

.subscript {
	font-size: 9px;
}

.gate:hover {
	background-color: rgba(255,255,255, 0.15);
}

.gate img {
	float: left;
}

#gates-basic {
	
}

#grid {
	width: 50px;
	height: 50px;
	background-color: #FF0000;
}

.stretch {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
}

.status {
    background-color: @grStart;
	.borderDown(@baseColor, @contrast, @borderHeight);
	color: @textColorFaded;
	border-width: 1px 0 0 0; /* Top border only */
	bottom: 0;
	height: @statusHeight;
	left: 0;
	line-height: 24px;
	position: absolute;
	width: 100%;
	z-index: 17;
}

.status #info-icon {
	height: @statusHeight - 8;
	width: @statusHeight - 8;
	opacity: 1 - @textFade;
	padding: 0 6px;
}