# LaTeX files we are not interested in.
*.log
*.aux
*.dvi
*.toc
*.out
*.gz
*.nav
*.snm

# java class files we are not interested in.
*.class

# exclude ant stuff.
/program/WEB-INF/ant

# exclude linux version of phantomjs
/program/WEB-INF/lib/phantomjs/linux

#and also PhpStorm stuff.
/program/.idea/*
