#LaTeX files we are not interested in.
*.log
*.aux
*.dvi
*.toc
*.out

#java class files we are not interested in.
*.class

#exlude ant stuff.
/program/WEB-INF/ant

#and also PhpStorm stuff.
/program/.idea/*